<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KotoApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9E9DFC320ABD307C681BF54E6A8C747D6FFD2C5B</string>
				<key>dateExpires</key>
				<string>2026/12/04</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11130</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E9DFC320ABD307C681BF54E6A8C747D6FFD2C5B</string>
						<key>dateExpires</key>
						<string>2026/12/04</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMobileAds.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJM784766U</string>
						<key>name</key>
						<string>Kanta Sato</string>
					</dict>
					<key>versionNumber</key>
					<string>11.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E9DFC320ABD307C681BF54E6A8C747D6FFD2C5B</string>
						<key>dateExpires</key>
						<string>2026/12/04</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UserMessagingPlatform.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJM784766U</string>
						<key>name</key>
						<string>Kanta Sato</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WJM784766U.app.koto.ios</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WJM784766U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>KotoApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a6334d58-b327-42bf-a31a-aa79da80c748</string>
				<key>dateExpires</key>
				<string>2026/12/04</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: app.koto.ios</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WJM784766U</string>
				<key>name</key>
				<string>Kanta Sato</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
